<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<cors enabled="true">
      <add origin="*" allowCredentials="true" maxAge="600">
        <allowMethods>
          <add method="GET"/>
          <add method="POST"/>
        </allowMethods>
        <allowHeaders>
          <add header="Content-Type"/>
          <add header="Authorization"/>
        </allowHeaders>
        <exposeHeaders>
          <add header="X-Custom-Header"/>
        </exposeHeaders>
      </add>
    </cors>
</configuration>
